<html>
    <head>
        <title>Crackers</title>

        <link rel="stylesheet" href="assets/css/main.css" />
    </head>

    <body>
        <div id="main">
            <div id="top">
                <div id="header">
                    <div id="content">
                        <div id="title">Crackers</div>

                        <div id="nav">
                            <ul id="nav-list">
                                <li>About</li>
                                <li>Blog</li>
                                <li>Jobs</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="top-body">
                    <div id="desc">
                        A better scheduling platform
                    </div>

                    <div id="login">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
